<aside>
	<div class="panel radius">
		<h3>About</h3>
		<p>
			We are writing about what is happening at OpenIntents, events we attend,
			our apps, and the open Android ecosystem.
		</p>
		<p>
			Everything is hosted on <a href="https://github.com/openintents/openintents.github.io">github.com</a>.
			Feel free to improve the content.
		</p>
		<p>
			OpenIntents raises money through <a href="{{ site.url }}/contribute">donations</a>.
		</p>
		<h3>Posts by Category</h3>
		<ul>
			{% for category in site.data.archives.categories %}
				<li><a href="{{site.url}}/blog/{{category | downcase }}">{{category}}</a></li>
			{% endfor %}
	  </ul>

</div>

  <!--
  <img class="b30" src="http://dummyimage.com/303x16:9/df4949/e27b3f.png&amp;text=Ugly+Ad+Space" alt="">


	<div class="border-dotted radius b30">
		<img src="http://placekitten.com/271/270" alt="uh, Placekitten">
		<p class="text-left">
			This is an advertisment with a crazy cat! <a href="http://placekitten.com/">More cats, please!</a>
		</p>
	</div>
-->
</aside>
