---
layout: default
format: post
---
{% if page.github %}
{% assign github = page.github %}
{% else %}
{% assign github = page.ref %}
{% endif %}

{% if page.githubicon %}
{% assign githubicon = page.githubicon %}
{% elsif page.github %}
{% assign githubicon = page.github %}
{% else %}
{% assign githubicon = page.ref %}
{% endif %}

{% if page.package %}
{% assign package = page.package %}
{% else %}
{% assign package = page.ref %}
{% endif %}
<div class="row t30">
	<div class="medium-8 columns{% if page.sidebar == NULL %} medium-offset-2 end{% endif %}{% if page.sidebar == "left" %} medium-push-4{% endif %}">
		<article itemscope itemtype="http://schema.org/Article">
			<header>
				{% if page.image.hide %}
				{% else %}
				<figure>
					<img src="https://raw.githubusercontent.com/openintents/{{ githubicon }}/master/promotion/icons/ic_launcher_{{githubicon}}_512.png" width="125" alt="{{ page.title | escape_once }}" itemprop="image">

					{% if page.image.caption_url and page.image.caption %}
					<figcaption class="text-right">
						<a href="{{ page.image.caption_url }}">{{ page.image.caption }}</a>
					</figcaption>
					{% elsif page.image.caption %}
					<figcaption class="text-right">
						{{ page.image.caption }}
					</figcaption>
					{% endif %}
				</figure>
				{% endif %}

				<span itemprop="name">
					{% if page.subheadline %}<p class="subheadline">{{ page.subheadline }}</p>{% endif %}
					<h1>{{ page.title }}</h1>
					<h2>{{ page.action }}</h2>
				</span>
			</header>


			{% if page.teaser %}
			<p class="teaser" itemprop="description">
				{{ page.teaser }}
			</p>
			{% endif %}

			<span itemprop="articleSection">
			{{ content }}
			</span>

			{% if page.show_meta == true %}
			{% include meta_information.html %}
			{% endif %}

			{% if page.web_only != true %}
			<b>Android</b><br/>
			<a href="https://github.com/openintents/{{github}}">See on Github</a></br>
		    <a href="https://github.com/openintents/{{github}}/releases">Download from Github</a></br>
			<a href="https://play.google.com/store/apps/details?id=org.openintents.{{package}}">Download from Google Play</a><br/>
			<a href="https://f-droid.org/packages/org.openintents.{{package}}/">Download from F-Droid</a>
			{% endif %}
			
			{% if page.domain %}
			<br/>
			<b>Blockstack</b><br/>
			<p class="domain" itemprop="sameAs">
				Visit product page: <a href="{{ page.domain }}">{{page.domain}}</a>
				{% if page.githubweb %}
			    <br/> Source code: <a href="https://github.com/openintents/{{ page.githubweb }}">{{page.githubweb}}</a>
				{% endif %}
			</p>
			{% endif %}
		</article>
	</div><!-- /.medium-8.columns -->


	{% if page.sidebar == "left" %}
	<div class="medium-4 columns medium-pull-8">
		{% include sidebar.html %}
	</div><!-- /.medium-4.columns -->
	{% endif %}


	{% if page.sidebar == "right" %}
	<div class="medium-4 columns">
		{% include sidebar.html %}
	</div><!-- /.medium-4.columns -->
	{% endif %}
</div><!-- /.row -->
